body{
/* ...*/  
}
nav{
padding: 15px;
position: relative;
bottom: 8px;
right: 13px;
background-color:black ;
width: 100%;
height: 20px;
margin: auto;
opacity: 70%;
}
li{
    list-style: none;
    display: inline;
}
a{
    text-decoration:black;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: white;
}
#navHome{
    padding-left: 70px;
}
#navServices{
    position: relative;
    left: 15px;
}
#navCreate{
    position: relative;
    left: 25px;
}
#navEvent{
    position: relative;
    left: 35px;
}
#navSignIn{
  padding-left: 650px;
  position: relative;
  right: 20px;
}
#navSearchBar{
width: 230px;
height: 17px;
}
#navSearchButton{
 height: 23px;   
}
.ziki{
    margin: 0;
    padding: 0;
    background-image: url('Ziki.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.artistProfile{
    color: white;
    position: relative;
    left: 300px;
    bottom: 250px;
}
img{
    height: 300px;
    width: 300px;
    position: relative;
    left: 600px;
    bottom: 1px;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Courgette', cursive;
    position: absolute;
    bottom: 50px;
    left: 150px;
}
h2{
    text-align: center;
      font-family: 'PT Sans', sans-serif;
      position: absolute;
      bottom: 20px;  
      left: 550px;   
}


footer{
    color: white;
   text-align: center;
   position: absolute;
   top: 620px;
   left: 0.1px;
   width: 100%;
   background-color: black;
   opacity: 70%;
}
#contactUs{
    text-decoration: underline;
    position: relative;
    right: 70px;
}
#faq{
    text-decoration: underline;
    position: relative;
    right: 50px;
}
#calgary{
    text-decoration: underline;
    position: relative;
    right: 30px;
}

form{
    padding: 100px;
    text-align: center;
}
.ziki1{
    margin: 0;
    padding: 0;
    background-image: url('Ziki1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ovalShape{
    border-radius: 50%;
    height: 260px;
    width: 240px;
    background-color: honeydew;
    margin-top: 0px;
    position: relative;
    left: 450px;
}
.signinTextbox{
    height: 22px;
    width: 200px;
    }
#googleTag{
    font-family: 'PT Sans', sans-serif;
    color: blue;  
}
#facebookTag{
    font-family: 'PT Sans', sans-serif;
    color: blue
}